
@{
    ViewBag.Title = "CustomerDetails";
    Layout = "~/Views/Shared/KangMeiLayout.cshtml";
}
<style type="text/css">
    #div_max {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

        #div_max div div {
            margin-left: 20px;
        }

    #bottom {
        width: 160px;
        margin: 0px auto;
    }
    #div_max {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    }
</style>

<h2> 客户详情</h2>

<div style="width: 280px;margin: 0px auto"><h3>姓名： <span style="color:red;">陈仲宇</span>&nbsp; 性别：<span style="color:red;">男 </span> </h3></div>
<form action="" method="post">
    <div id="div_max">
        <div id="">
            <span style="color: red;font-size: 24px;"> 现病史</span> <br />
            <div class="form-group">
                <label for="exampleInputEmail1"> 发生时间</label>
                <input type="text" class="form-control" id="" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1"> 就诊地点</label>
                <input type="text" class="form-control" id="" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1"> 病史情况</label>
                <input type="text" class="form-control" id="" aria-describedby="emailHelp">
            </div>
        </div>

        <div id="">
            <span style="color:red; font-size:24px;"> 既往史</span> <br />
            <div class="form-group">
                <label for="exampleInputEmail1"> 发生时间</label>
                <input type="text" class="form-control" id="" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1"> 就诊地点</label>
                <input type="text" class="form-control" id="" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1"> 病史情况</label>
                <input type="text" class="form-control" id="" aria-describedby="emailHelp">
            </div>
        </div>

        <div id="">
            <span style="color:red; font-size:24px;"> 家族史</span> <br />
            <div class="form-group">
                <label for="exampleInputEmail1"> 发生时间</label>
                <input type="text" class="form-control" id="" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1"> 就诊地点</label>
                <input type="text" class="form-control" id="" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1"> 病史情况</label>
                <input type="text" class="form-control" id="" aria-describedby="emailHelp">
            </div>
        </div>

        <div id="">
            <span style="color:red; font-size:24px;"> 月经史</span> <br />
            <div class="form-group">
                <label for="exampleInputEmail1"> 发生时间</label>
                <input type="text" class="form-control" id="" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1"> 就诊地点</label>
                <input type="text" class="form-control" id="" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1"> 病史情况</label>
                <input type="text" class="form-control" id="" aria-describedby="emailHelp">
            </div>
        </div>

        <div id="">
            <span style="color:red; font-size:24px;"> 婚孕史</span> <br />
            <div class="form-group">
                <label for="exampleInputEmail1"> 发生时间</label>
                <input type="text" class="form-control" id="" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1"> 就诊地点</label>
                <input type="text" class="form-control" id="" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1"> 病史情况</label>
                <input type="text" class="form-control" id="" aria-describedby="emailHelp">
            </div>
        </div>

        <div id="">
            <span style="color:red; font-size:24px;"> 体格检查</span> <br />
            <div class="form-group">
                <label for="exampleInputEmail1"> 发生时间</label>
                <input type="text" class="form-control" id="" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1"> 就诊地点</label>
                <input type="text" class="form-control" id="" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1"> 病史情况</label>
                <input type="text" class="form-control" id="" aria-describedby="emailHelp">
            </div>
        </div>

        <div id="">
            <span style="color:red; font-size:24px;"> 化验检查</span> <br />
            <div class="form-group">
                <label for="exampleInputEmail1"> 发生时间</label>
                <input type="text" class="form-control" id="" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1"> 就诊地点</label>
                <input type="text" class="form-control" id="" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1"> 病史情况</label>
                <input type="text" class="form-control" id="" aria-describedby="emailHelp">
            </div>
        </div>

        <div id="">
            <span style="color:red; font-size:24px;"> 特殊检查</span> <br />
            <div class="form-group">
                <label for="exampleInputEmail1"> 发生时间</label>
                <input type="text" class="form-control" id="" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1"> 就诊地点</label>
                <input type="text" class="form-control" id="" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1"> 病史情况</label>
                <input type="text" class="form-control" id="" aria-describedby="emailHelp">
            </div>
        </div>
    </div>
    <div id="bottom">
        <button type="submit" class="btn btn-outline-primary"> 新增信息</button>
        <button type="button" class="btn btn-outline-primary"> 取消</button>
    </div>
</form>
