
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/KangMeiLayout.cshtml";
}
    <div style="width:80%; display: table-cell; vertical-align: middle;text-align: center;">
        <img src="~/imgs/Knagmeibig.jpg" style="width:1000px" />
    </div>
