
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/KangMeiLayout.cshtml";
}
<link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />

<div class="demo">
    <div class="container">

        <div class="row"  style=" display: table-cell; vertical-align: middle;text-align: center; ">
            <div class="col-md-4 col-sm-6">
                <div class="box" style="width:1000px">
                    <img src="~/imges/医院.jpg" style="width:1000px;border-radius:20px;box-shadow: 3px 3px 30px #888888;" >
                    <div class="box-content">
                        <h3 class="title">康美私人诊所管理系统</h3>
                        <span class="post">欢迎使用</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>